<div style="position:relative;">
  <!-- logo -->
  <div class="link-right"></div>
  <div class="divCenter" style="margin-top:20px;">
      <img width="50%" height="50%" src="../../assets/image/logo-ball.png" />
  </div>
  <div class="divCenter" style="margin-top:-10px;">
      <h3>服务网格</h3>
  </div>
 
</div>
<div style="margin-top:30px;">
    <ul class="sidebarnav">
        <li class="sidebar-item">
          <div style="position:relative;">
            <span></span>
              <a class="sidebar-link" [routerLink]="['/']">
                  <span class="glyphicon glyphicon-home"></span>
                  <span >总览</span>
              </a>
          </div>
          <div class="link-top"></div>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/servicelist']">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span class="hide-menu" >服务列表</span>
            </a>
        </li>
         <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/form-basic.html" aria-expanded="false">
              <span class="glyphicon glyphicon-send"></span>
                <span class="hide-menu" >灰度发布</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/table-basic.html" aria-expanded="false">
                <span class="glyphicon glyphicon-transfer"></span>
                <span class="hide-menu" >流量治理</span>
            </a>
        </li>
        <li class="sidebar-item"> 
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/icon-material.html" aria-expanded="false">
              <span class="glyphicon glyphicon-screenshot"></span>
              <span class="hide-menu" >流量监控</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/starter-kit.html" aria-expanded="false">
              <span class="glyphicon glyphicon-stats"></span>
              <span class="hide-menu" >Iisto管理</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/error-404.html" aria-expanded="false">
              <span class="glyphicon glyphicon-blackboard"></span>
              <span class="hide-menu" >监控中心</span>
            </a>
        </li>
    </ul>
</div>

