<div>
  <!-- logo -->
  <div class="divCenter" style="margin-top:20px;">
      <img width="50%" height="50%" src="../../assets/image/logo-ball.png" />
  </div>
  <div class="divCenter" style="margin-top:-10px;">
      <h3>服务网格</h3>
  </div>
</div>
<div style="margin-top:30px;">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false">
                    <i class="cce-menuIcon icon icon-cloud-cce-dashboard"></i>
                    <span class="hide-menu">总览</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref=".pages-profile" aria-expanded="false">
                    <i class="mdi mdi-account-network"></i>
                    <span class="hide-menu">服务列表</span>
                </a>
            </li>
             <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/form-basic.html" aria-expanded="false">
                    <i class="mdi mdi-arrange-bring-forward"></i>
                    <span class="hide-menu">灰度发布</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/table-basic.html" aria-expanded="false">
                    <i class="mdi mdi-border-none"></i>
                    <span class="hide-menu">流量治理</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/icon-material.html" aria-expanded="false">
                    <i class="mdi mdi-face"></i>
                    <span class="hide-menu">流量监控</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/starter-kit.html" aria-expanded="false">
                    <i class="mdi mdi-file"></i>
                    <span class="hide-menu">Iisto管理</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="html/error-404.html" aria-expanded="false">
                    <i class="mdi mdi-alert-outline"></i>
                    <span class="hide-menu">监控中心</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
