<div style="height: 1200px;">
  <div class="col-md-12" >
    <div style="margin:50px;">
        <span style="margin:20px">服务网格通过无侵入方式，面向容器云原生应用，支持完整的生命周期管理和流量治理能力，兼容Kubernetes和Istio生态，并提供了灰度发布全流程自动化管理、图形化应用拓扑、智能化、可视化流量治理等智能的、弹性的流量管理服务。</span>
    </div>
  </div>
  <!-- 资源总览 -->
  <div class="col-md-6">
    <div style="height:378px;background-color: white;margin: 20px;">
        <div style="padding:20px;">
          <span style="font-weight:bold;font-size: 18px;">资源总览</span>
        </div>
        <div style="padding-left:20px;">
          <span>当前webase集群个数为0个</span>
        </div>
        <div style="padding-left:20px;">
            <span>可用集群为 0 个，剩余 0 个未启用istio服务网格</span>
          </div>
    </div>
  </div>
    <!-- 应用总览 -->
  <div class="col-md-6">
      <div style="height:378px;background-color: white;margin: 20px;">
          <div style="padding:20px;">
            <span style="font-weight:bold;font-size: 18px;">应用总览</span>
          </div>
          <div style="padding-left:20px;">
            <span>当前已启用治理的应用总数为 0 服务总数为 0</span>
          </div>
      </div>
    </div>
  <!-- 流量总览 -->
  <div class="col-md-6">
    <div style="height:378px;background-color: white;margin: 20px;">
      <div style="padding:20px;">
          <span style="font-weight:bold;font-size: 18px;">流量总览</span>
      </div>
      <div style="padding-left:20px;">
        <span>RPS 响应时延</span>
      </div>
    </div>
  </div>
  <!-- 灰度发布任务总览 -->
  <div class="col-md-6">
    <div style="height:378px;background-color: white;margin: 20px;">
      <div style="padding:20px;">
        <span style="font-weight:bold;font-size: 18px;">灰度发布任务总览</span>
      </div>
      <div style="padding-left:20px;">
        <span>当前进行中的灰度任务 0 个，正常状态 0 个</span>
      </div>
    </div>
  </div>
</div>
